<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (titulo)">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ToDoList</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Enlaces a la izquierda -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">Acerca de</a>
                </li>
                <!-- Visible SOLO si el usuario HA iniciado sesión -->
                <li class="nav-item" th:if="${session.idUsuarioLogeado != null}">
                    <a class="nav-link" th:href="@{/registrados/{id}/tareas(id=${session.idUsuarioLogeado})}">Tareas</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">

                <th:block th:if="${session.idUsuarioLogeado == null}">
                    <li class="nav-item">
                        <a class="btn btn-outline-light mr-2" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/registro}">Registro</a>
                    </li>
                </th:block>

                <li class="nav-item dropdown" th:if="${session.idUsuarioLogeado != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mi Cuenta
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href="#">Cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div th:fragment="javascript">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>

</body>
</html>